* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #eaeaea;
  color: #222;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  gap: 4rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.book img {
  width: 100%;
  object-fit: cover;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* .book h4 {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #2f8d5f;
} */

.book p {
  margin: 1rem 0 0.5rem;
}
